/* ********* */
/* @VARIABLES */
/* ********* */

$Colores: (
    
    BannerDominante: #010536,
    BannerFlojo: #A80499,
    LetraLogFontIcono: #C5D3E3,
    letraLogo: #A83ADE,
    baseEcuatoguineano: #D9D9D9,
    AcercaDe: #868686,
    Boton: #43045D,
    LetraNegra: black,
    blanco: #FFFFFF,
);

$medidasHeader: (
    widthgeneral: 100%,
    widthIcono: 30px,
    heightIcono: 30px,
    GapBanners: 20px,
    TopDesplegables: 60px,
    widthDesplegables: 100vw,
    heightDesplegables: 100vh,
    paddingChecked: 30px 0 30px 0,
    heightChecked: 495px,
    widthHamburguesa: 30px,
    heightHamburguesa: 30px,
    widthpictures: 360px,
    heightpictures: 553px,
    GapLogos: 40px,
    Marginpictures: 80px,
);

$medidasMain:(
    padding-fondo: 60px,
    margin-bottom-fondo: 15px,
    padding-topMain: 10px,
    heightLinea: 3px,
    widthLinea: 45px,
    paddingParafo: 0 30px 0 30px,
    letraParafo: 12px,
    heightCesar: 327px,
    widthImagen: 360px,
    widthAcerca-de: 100%,
    heightAcerca-de: 5px,
    heightAcercade-linea: 3px,
    widthAcercade-linea: 45px,
    paddingLinea: 20px,
    height-superior: 29px,
    width-superior: 100%,

    heightBlack: 237px,

    borderRadius-boton: 10px,
    with-Boton: 114px,
    height-Boton: 44px,
    letra-boton: 14px,
    margin-boton: 0 30px 30px 0,
    border-Boton: solid #23232B,

    width-Eventos: 100%,
    heightImagen-Eventos: 140px,
    margin-eventos: 3px 0 3px 0,

    widthImagen-Otros-eventos: 329px,
    heightImagen-Otros-eventos: 182px,
    widthBoton-Otros-eventos: 188px,
    heightBoton-Otros-eventos: 48px,
    borderRadius-Otros-eventos: 10px,
    margin-Otros-eventos: 10px 0 0 0,
    widthLetras-Otros-eventos: 328px,
    letra: 12px,
    heightLetra-Otros-eventos: 62px,

    letras: 14px,
    paddng-boton: 130px,

    widthEventos-pasados: 328px,
    heightEventos-pasados: 159px,

    widthlinealarga: 290px,
    heightlinealarga: 1px,

    widthLetra: 314px,

    widthFormulario: 255px,
    heightFormulario: 461px,
    widthinput: 262px,
    heightinput: 40px,
    heigthmensaje: 111px,
    widthenviar: 149px,
    gapinput: 20px,
    margininput: 30px,
    
    widthLogin: 150px, 
    heightLogin: 150px,
    margin-bottom-correo: 30px,
    fonz: 10px,
    padding-left: 130px,
    margin-bottom-boton: 10px,
    margin-bottom-crear: 42px,

    /*Registro*/
    margin-bottom-registro: 20px,

);

$medidasFooter:(
    widthComentario-footer: 360px,
    heightComentario-footer: 90px,
);

$medidasHeaderAcerca:(
    marrginBottom: 35px,
    padding-right-logo:70px,
    font-size:24px,

    heightFondo: 108px,
    fons-size-fondo: 32px,
);

$medidasMainAcerca:(
    fons-size-titulo: 20px,
    widthImagen-acerca: 187px,
    heightImagen-acerca:145px,
    widthImagen3-acerca: 188px,
    heightImagen3Arquetipo-acerca: 155px,
    heightImagen3-acerca: 183px,
    margin-top-imagen3: 30px,
    widthletra-acerca: 239px,
    heightletra-acerca: 179px,
    margin-bottom-letra: 10px,
    widthgeneral: 100%,
    widthLetraMindje: 228px,
    heightLetraMindje: 41,
    fonz-size-mindje: 12px,
    weightimagenMindje: 188px,
    heightimagenaMindje: 183px,
    margin-top-imagenMindje: 30px,

    heightImagen-otros: 153px,
    marginOtros-eventos: 27px,

    widthtexto: 295px,
);

//medidas originales
$medidas:(
    HeaderGap: 30px,
    widthgeneral: 100%,
    widthIcono: 30px,
    heightIcono: 30px,
    widthDesplegables: 100vw,
    heightDesplegables: 100vh,
    heightChecked: 495px,
    paddingChecked: 30px 0px 30px 0,
    logo-margin-left: 20px,
    movil-Top: 60px,
    desktop-Top:15px,
    desktop-rigth: 30px,
    registro-width: 100px,
    registro-height:30px,

    //MAIN
    heightLinea: 3px,
    widthLinea: 45px,
    letraParafo: 12px,
    paddingParafo: 0 30px 20px 30px,
    margin-Main: 13px,
    padding-top: 10px,
    height-foto: 327px,
    width-foto: 360px,
    height-black: 237px,
    height-superior: 25px,
    width-superior: 100%,
    margin-boton: 0 30px 30px 0,
    letra-boton: 14px,
    marginLados: 20px 0 20px,
    height-imagen: 149px,
    paddingLinea: 30px,
    width-images:329px,
    height-images:182px,
    width-boton:188px,
    height-boton: 48px,
    border-radius: 10px,

);



