/* ********* */
/* @BANNER */
/* ********* */

body{
    background-color: map-get($Colores, BannerDominante );
    font-family: 'alexandria';

}

.contenedor{
    background-color: map-get($Colores, blanco);
}
