/* ********* */
/* @FOOTER */
/* ********* */


.Footer-Comentario{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    margin-top: 0px;
    width: map-get($medidasFooter, widthComentario-footer );
    height: map-get($medidasFooter, heightComentario-footer );
    background:#A80499;
    background: linear-gradient(119.29deg, #A80499 0%, #010536 100%);
}

.Footer-texto{
    color: map-get($Colores, LetraLogFontIcono )
}

.eventTime{
    margin-bottom: 0;
    color: map-get($Colores, LetraLogFontIcono);
    text-align: center;
}
