/* ********* */
/* @FOOTER */
/* ********* */
.lista{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: map-get($Colores, baseEcuatoguineano);
    font-size: 12px;
    align-items: center;

    .list1{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list4{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .list7{
        grid-column: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        grid-row: 1 / span 3;
        
    }

    .list3{
        grid-column: 3/3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
    }

    .list5{
        grid-column: 2/4;
        display: flex;
        align-items: center;
        padding-left: 23px;
        
    }

    .list6{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1 / span 3;
        grid-row: 4;
        
    }

}

.Footer-Comentario{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    margin-top: 0px;
    width: map-get($medidasFooter, widthComentario-footer );
    height: map-get($medidasFooter, heightComentario-footer );
    background:#A80499;
    background: linear-gradient(119.29deg, #A80499 0%, #010536 100%);
}

.Footer-texto{
    color: map-get($Colores, LetraLogFontIcono )
}

.eventTime{
    margin-bottom: 0;
    color: map-get($Colores, LetraLogFontIcono);
    text-align: center;
}
