/* ********* */
/* @FORMS */
/* ********* */

 //LOGIN
 .icono {
    background-image: url("../assets/img/smartphone/icono-perfil@2x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 149px;
    height: 115px;
}

.cajaForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    @media only screen and (min-width:1200px) {
        background-color: #D9D9D9;
        width: 300px;
        padding: 30px;
        border-radius: 10px;
    }
}

.CajaPrincipal {
    @media only screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }
}

.formulario2 {
    width: map-get($medidasMain, widthFormulario);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    margin-bottom: 0;
}

.correo,
.contraseña,
.nombre,
.confirmar-contraseña,
.apellidos {
    width: map-get($medidasMain, widthinput);
    height: map-get($medidasMain, heightinput);
    border: solid gray;
    border-radius: map-get($medidasMain, borderRadius-boton);

}

//contraseña del login
.contraseña1 {
    width: map-get($medidasMain, widthinput);
    height: map-get($medidasMain, heightinput);
    border: solid gray;
    border-radius: map-get($medidasMain, borderRadius-boton);
}

.contraseña,
.nombre,
.confirmar-contraseña,
.apellidos {
    margin-bottom: 30px;
}

.correo {
    margin-bottom: 30px;
}

.text {
    font-size: 10px;
    text-decoration: none;
    padding-left: 120px;
}

.registro {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px
}

///////////////////////////////////
.formulario {
    width: map-get($medidasMain, widthFormulario);
    height: map-get($medidasMain, heightFormulario);
    background-color: map-get($Colores, baseEcuatoguineano);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;

    @media only screen and (min-width:1200px) {
        width: 300px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .nombre-apellidos,
    .telefono,
    .correo {
        width: map-get($medidasMain, widthinput);
        height: map-get($medidasMain, heightinput);
        border: solid gray;
        border-radius: map-get($medidasMain, borderRadius-boton);


        @media only screen and (min-width:1200px) {
            width: 300px;
            height: 50px;
        }
    }

    .mensaje {
        width: map-get($medidasMain, widthinput);
        height: map-get($medidasMain, heigthmensaje);
        border: solid gray;
        border-radius: map-get($medidasMain, borderRadius-boton);

        @media only screen and (min-width:1200px) {
            width: 300px;
        }
    }

    .nombre {
        margin-top: map-get($medidasMain, margininput);

    }

    .tel,
    .cor,
    .mens {
        margin-top: map-get($medidasMain, gapinput);


    }

   
}
