/* ********* */
/* @HEADER */
/* ********* */
.Header-Navbar {
    display: flex;
    background: #A80499;
    background: linear-gradient(119.29deg, #A80499 0%, #010536 100%);
    width: map-get($medidas , widthgeneral);
    align-items: center;
    justify-content: space-around;

}

.Header-Logo {
    color: #A83ADE;
    @media only screen and (min-width:1200px) {
        width: 20%;
        margin-left: 50px;

    }
}

.escritorio {
    @media only screen and (min-width:1200px) {
        display: flex;
        gap: 200px;
        align-items: center;

    }
}

.Logos {
    display: flex;
    gap: 20px;

    @media only screen and (min-width:1200px) {
        width: 80%;

    }
}

.Header-Desktop {
    display: none;
    list-style: none;

    @media only screen and (min-width:1200px) {
        display: flex;
        gap: 20px;
        overflow: hidden;
        height: 100%;
        align-items: center;

        li{
            height: 100%;
            display: flex;
            align-items: center;
        }


    }
}



.Header-Desktop li:hover{
    background-color: #A80499;
}
.Liks {
    text-decoration: none;
    color: #C5D3E3;
}

.link {
    text-decoration: none;
    color: black;
}

.otra-lista {
    display: none;
    list-style: none;

    @media only screen and (min-width:1200px) {
        display: flex;
        gap: 30px;


    }
}

.Header-desplegable {
    display: none;
    list-style: none;
    position: absolute;
    right: 0px;
    top: map-get($medidas , movil-Top);
    width: map-get($medidas , widthDesplegables);
    height: map-get($medidas , heightDesplegables);
    gap: map-get($medidas , HeaderGap);
    color: map-get($Colores , baseEcuatoguineano);
}

.Header-despliega {
    display: none;
}

.Header-Iconologin {
    width: map-get($medidas , widthIcono);
    height: map-get($medidas , heightIcono);

    @media only screen and (min-width:1200px) {
        display: none;
    }
}

.Header-iconoHamburguesa {
    width: map-get($medidas , widthIcono);
    height: map-get($medidas , heightIcono);

    @media only screen and (min-width:1200px) {
        display: none;
    }
}

input:checked~.Header-desplegable {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: map-get($medidas , heightChecked);
    padding: map-get($medidas , paddingChecked);
    background-color: map-get($Colores , baseEcuatoguineano);
    color: map-get($Colores , LetraNegra);
    z-index: 10px;
    
}

.inicio{
    @media only screen and (min-width:1200px) {
        display: none;
    }
}
.inicio1{
    display: none;
    @media only screen and (min-width:1200px) {
        display: flex;
        padding-left: 148vh;
    }
}

//INICIO DE SESION
.retrocede {
    display: none;

    @media only screen and (min-width:1200px) {
        display: flex;
    }
}


.registrado{
    display: none;
    @media only screen and (min-width:1200px) {
        display: flex;
        align-items: center;
        gap: 30px;

    }
        .navegador{
        background-color: #C5D3E3;
        border-radius: 50%;

    }
}

.tapar{
    display: none;
    @media only screen and (min-width:1200px){
        display: flex;
    }

    .miPerfil{
        text-decoration: none;
        color: #C5D3E3;
    }
    
}
