/* ********* */
/* @HMAIN */
/* ********* */
Main {
    
    .DosCuadros {
        @media only screen and (min-width:1200px) {
            display: flex;
            // width: map-get($medidas , widthgeneral);
        }
    }

    .imagen-de-fondo {
        width: 100%;
    }

    .Main-texto {
        background-color: map-get($Colores, baseEcuatoguineano);
        margin-top: map-get($medidas, margin-Main);
        padding-top: map-get($medidas, padding-top);

        @media only screen and (min-width:1200px) {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .Main-talento {
        text-align: center;
        @media only screen and (min-width:1200px){
            font-size: 24px;
        }
        
        

    }

    .Main-linea {
        height: map-get($medidas, heightLinea);
        width: map-get($medidas, widthLinea);
        background-color: map-get($Colores, LetraNegra);
        border: none;
    }

    .Main-parrafo {
        text-align: justify;
        padding: map-get($medidas, paddingParafo);
        font-size: map-get($medidas, letraParafo);
        margin-bottom: 0;

        @media only screen and (min-width:1200px) {
            font-size: 16px;
            width: 506px;

        }
    }

    .Main-imagen {
        background: url("/assets/img/smartphone/Cesar@2x.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: map-get($medidas, height-foto);
        width: map-get($medidas, width-foto);

        @media only screen and (min-width:1200px) {
            width: 50%;
            background: url("/assets/img/desktop/Cesar@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 300px;
            margin-top: 13px;
        }


    }

    //ACERCA-DE

    .acerca {
        background-color: map-get($Colores, AcercaDe);
        padding: map-get($medidas, marginLados);
        @media only screen and (min-width:1200px){
            height: 134px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        

    }

    .acerca-de {
        margin-Top: 0;
        text-align: center;
        @media only screen and (min-width:1200px){
            font-size: 24px;
        }
    }

    .Main-linea-acerca {
        height: map-get($medidas, heightLinea);
        width: map-get($medidas, widthLinea);
        background-color: map-get($Colores, LetraNegra);
        border: none;
        margin-bottom: 0;
    }

    .Main-superior {
        height: map-get($medidas, height-superior);
        width: map-get($medidas, width-superior);
        background: #A80499;
        background: linear-gradient(119.29deg, #A80499 0%, #010536 100%);

        @media only screen and (min-width:1200px) {

            height: 60px;

        }
    }

    .Main-boton {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid gray;
        width: 114px;
        height: 44px;
        border-radius: map-get($medidas, border-radius);
        margin: map-get($medidas, margin-boton);
        font-size: map-get($medidas, letra-boton);
        background-color: map-get($Colores, BannerFlojo);
        color: map-get($Colores, LetraLogFontIcono);
    }

    .Main-imagenblack {
        background: url("/assets/img/smartphone/Black@2x.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: map-get($medidas, height-black);
        width: map-get($medidas, width-foto);
        display: flex;
        justify-content: flex-end;
        align-items: end;

        @media only screen and (min-width:1200px) {
            background: url("/assets/img/desktop/black.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 700px;

        }

    }

    .Main-inferior {
        height: map-get($medidas, height-superior);
        width: map-get($medidas, width-superior);
        background: #A80499;
        background: linear-gradient(119.29deg, #A80499 0%, #010536 100%);

        @media only screen and (min-width:1200px) {

            height: 60px;

        }
    }

    //EVENTOS
    .Eventos {
        background-color: map-get($Colores, baseEcuatoguineano);
        width: map-get($medidas, width-Eventos);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .Tipo-evento{
            text-align: center;
            @media only screen and (min-width:1200px) {
                display: flex;
                gap: 300px;
            }
        }
        .Eventos-event {
            height: map-get($medidas, heightAcerca-de)
        }

        .Eventos-linea {
            height: map-get($medidas, heightLinea);
            width: map-get($medidas, widthLinea);
            background-color: map-get($Colores, LetraNegra);
            margin-bottom: map-get($medidas, paddingLinea);
            border: none;
        }


        .Eventos-imagen1 {
            background-image: url("../assets/img/smartphone/mindje.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: map-get($medidas, width-foto);
            height: map-get($medidas, height-imagen);

            @media only screen and (min-width:1200px) {
                background-image: url("../assets/img/desktop/mindje@2x.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 473px;
                height: 381px;
            }
        }

        .eventos {
            margin: map-get($medidas, margin-eventos);
            text-decoration: none;
            color: map-get($Colores , LetraNegra);
        }

        .Eventos-imagen2 {
            background-image: url("../assets/img/smartphone/Buika1.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: map-get($medidas, width-foto);
            height: map-get($medidas, height-imagen);

            @media only screen and (min-width:1200px) {
                background-image: url("../assets/img/desktop/Buika@2x.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 473px;
                height: 381px;
            }
        }

    }

    //OTROS EVENTOS
    .OtrosEventos {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;

        .OtrosEventos-otros {
            margin: map-get($medidas, margin-Otros-eventos);
        }

        .OtrosEventos-imagen1 {
            background-image: url("../assets/img/smartphone/miss@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: map-get($medidas, width-images);
            height: map-get($medidas, height-images);

            @media only screen and (min-width:1200px){
                background-image: url("../assets/img/desktop/miss@2x.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 330px;
            }
        }

        .OtrosEventos-imagen2 {
            background-image: url("../assets/img/smartphone/ALBA@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: map-get($medidas, width-images);
            height: map-get($medidas, height-images);

            @media only screen and (min-width:1200px){
                background-image: url("../assets/img/desktop/ISABEL@2x.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 330px;
            }
        }

        .OtrosEventos-imagen3 {
            background-image: url("../assets/img/smartphone/buika2@3x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: map-get($medidas, width-images);
            height: map-get($medidas, height-images);

            @media only screen and (min-width:1200px){
                background-image: url("../assets/img/desktop/Buika3@2x.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 330px;
            }
        }

        .OtrosEventos-linea1 {
            height: map-get($medidas, heightLinea);
            width: map-get($medidas, widthLinea);
            background-color: map-get($Colores, LetraNegra);
            margin-bottom: map-get($medidas, paddingLinea);
            border: none;
        }

        .OtrosEventos-linea {
            width: map-get($medidas, widthLinea);
            height: map-get($medidas, heightLinea);
            background-color: map-get($Colores, LetraNegra);
            margin-top: map-get($medidas, paddingLinea);
            border: none;

            @media only screen and (min-width:1200px){
                margin-top: 50px;
                margin-bottom: 40px;
            }
        }

        .OtrosEventos-texto {
            width: map-get($medidas, width-images);
            font-size: map-get($medidas, letraParafo);
            padding-bottom: map-get($medidas, paddingLinea);
            @media only screen and (min-width:1200px){
                width: 283px;
                font-size: 15px;
            }

        }

        .OtrosEventos-boton {
            width: map-get($medidas, width-boton);
            height: map-get($medidas, height-boton);
            background-color: map-get($Colores, Boton);
            border: none;
            border-radius: map-get($medidas, border-radius);
            color: map-get($Colores, LetraNegra);

            @media only screen and (min-width:1200px){
                margin-top: 50px;
                margin-bottom: 30px;
            }
        }

        a {
            text-decoration: none;
            color: map-get($Colores , LetraLogFontIcono);
        }

        .event {
            margin-bottom: 0;
        }

        .caja{
            @media only screen and (min-width:1200px){
                display: flex;
                gap: 100px;
            }
        }

        .bodes{
            @media only screen and (min-width:1200px){
                background-color: map-get($Colores, baseEcuatoguineano);
                padding-bottom: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }

}

.Main2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'alexandria';

    .Fondo {
                background-color: map-get($Colores, BannerFlojo);
                height: map-get($medidasHeaderAcerca, heightFondo );
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: map-get($medidasHeaderAcerca, fons-size-fondo );
                color: map-get($Colores, LetraLogFontIcono);

                @media only screen and (min-width:1200px) {
                    width: 1141px;
                    height: 218px;
                    margin-top: 70px;
                    margin-bottom: 70px;
                }
    }

    .Archivo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (min-width:1200px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 60px;
            padding-top: 30px;

            
        }
        
    }

    .Main2-titulo{
        font-size: 20px;
        color: map-get($Colores , LetraLogFontIcono );

        @media only screen and (min-width:1200px){
            padding-top: 20px;
        }
    }

    .Main2-imagen1 {
        background: url("../assets/img/smartphone/Vanilla.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMainAcerca, widthImagen-acerca );
        height: map-get($medidasMainAcerca, heightImagen-acerca );
        
        @media only screen and (min-width:1200px) {
            background: url("../assets/img/desktop/Vanilla@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 539px;
            height: 462px;
            order: 2;
        }
    }

    .Main2-texto{
        width: map-get($medidasMainAcerca, widthletra-acerca );
        font-size: map-get($medidasMainAcerca, letraParafo );
        padding-bottom: map-get($medidasMainAcerca, margin-bottom-letra );
        color: map-get($Colores, LetraLogFontIcono );
        @media only screen and (min-width:1200px){
            width: 391px;
            font-size: 20px;
            display: flex;
            padding-left: 70px;
            padding-top: 60px;
        }
    }

    .Main2-imagen2 {
        background-image: url("../assets/img/smartphone/Brandon.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMainAcerca, widthImagen-acerca );
        height: map-get($medidasMainAcerca, heightImagen-acerca );

        @media only screen and (min-width:1200px) {
            background: url("../assets/img/desktop/Brandon@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 539px;
            height: 462px;
            margin-bottom: 100px;
        }
    }

    .Arquetipo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: map-get($Colores, baseEcuatoguineano );
        width: map-get($medidasMainAcerca, widthgeneral );

        .Arquetipo-titulo{
            @media only screen and (min-width:1200px){
                margin-bottom: 0;
            }
        }
        .linea{
            width: map-get($medidas, widthLinea);
            height: map-get($medidas, heightLinea);
            background-color: map-get($Colores, LetraNegra);
            border: none;
            margin-bottom: 30px;
        }

        .cuadro{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media only screen and (min-width:1200px){
                display: flex;
                flex-direction: row;
                gap: 250px;
                margin-bottom: 50px;

            }
        }
        .Arquetipo-imagen1 {
            background-image: url("../assets/img/smartphone/de-fondo@3x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: map-get($medidasMainAcerca, widthImagen3-acerca );
            height: map-get($medidasMainAcerca, heightImagen3Arquetipo-acerca );

            @media only screen and (min-width:1200px){
                background-image: url("../assets/img/desktop/banner-fondo@2x.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 550px;
                height: 512px;
            }
        }

        .Arquetipo-texto{
            width: map-get($medidasMainAcerca, widthletra-acerca );
            font-size: map-get($medidasMainAcerca, letraParafo );
            padding-bottom: map-get($medidasMainAcerca, margin-bottom-letra );

            @media only screen and (min-width:1200px){
                font-size: 20px;
                width: 330px;
            }
        }

        .lineasTexto{
            @media only screen and (min-width:1200px){
                
            }
        }

        .linea1, .linea2, .linea3{
            display: none;
            @media only screen and (min-width:1200px){
                display: flex;
                flex-direction: column;
            }
        }

        .linea1{
            @media only screen and (min-width:1200px){
                width: 351px;
                height: map-get($medidas, heightLinea);
                background-color: map-get($Colores, LetraNegra);
                border: none;
                margin-bottom: 30px;
                margin-top: 50px;
            }
            
        }

        .linea2{
            @media only screen and (min-width:1200px){
                width: 311px;
                height: map-get($medidas, heightLinea);
                background-color: map-get($Colores, LetraNegra);
                border: none;
                margin-bottom: 30px;
            }
            
        }

        .linea3{
            @media only screen and (min-width:1200px){
                width: 211px;
                height: map-get($medidas, heightLinea);
                background-color: map-get($Colores, LetraNegra);
                border: none;
                margin-bottom: 30px;
            }
            
        }
    }

    .Main2-imagen3 {
        background-image: url("../assets/img/smartphone/mindje2@3x.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMainAcerca, weightimagenMindje );
        height: map-get($medidasMainAcerca,     heightimagenaMindje );
        margin-top: map-get($medidasMainAcerca, margin-top-imagenMindje );

        @media only screen and (min-width:1200px){
            background-image: url("../assets/img/desktop/mindjeDesk@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 472px;
            height: 483px;
        }
    }

    .texto{
        width: map-get($medidasMainAcerca, widthLetraMindje);
        height: map-get($medidasMainAcerca, heightLetraMindje );
        font-size: map-get($medidasMainAcerca, fonz-size-mindje );
        color: map-get($Colores, LetraLogFontIcono);
        @media only screen and (min-width:1200px){
            width: 692px;
            font-size: 16px;
        }
    }

    .Eventos{
        @media only screen and (min-width:1200px){
            width: 100%;
            padding-top: 30px;
        }
    }

    .eventTime{
        margin-bottom: 0;
        color: map-get($Colores, LetraLogFontIcono);
    }

    /*OTROS EVENTOS*/
    .Caja-otrosEventos{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: map-get($Colores, baseEcuatoguineano );
        width: map-get($medidasMainAcerca, widthgeneral );

    }

    .ImagenesTextos1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width:1200px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 85%;
        }
    }

    .ImagenesTextos2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width:1200px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 85%;
        }
    }

    .ImagenesTextos3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width:1200px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 85%;
            
        }
    }
    .Imagen-miss{
        background: url("../assets/img/smartphone/miss2@2x.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMainAcerca, weightimagenMindje);
        height: map-get($medidasMainAcerca, heightImagen-otros);
        margin-top:map-get($medidasMainAcerca, marginOtros-eventos );
        @media only screen and (min-width:1200px){
            background: url("../assets/img/desktop/miss1@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 647px;
            height: 349px;
            margin-bottom: 30px;
        }
    }

    .Imagen-ISABEL{
        background: url("../assets/img/smartphone/ISABEL@2x.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMainAcerca, weightimagenMindje);
        height: map-get($medidasMainAcerca, heightImagen-otros);

        @media only screen and (min-width:1200px){
            background: url("../assets/img/desktop/ALBA@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 647px;
            height: 349px;
            order: 2;
            // margin-left: 60px;
            margin-bottom: 30px;
        }
    }

    .Imagen-Buika{
        background: url("../assets/img/smartphone/Buika3@2x.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMainAcerca, weightimagenMindje);
        height: map-get($medidasMainAcerca, heightImagen-otros);

        @media only screen and (min-width:1200px){
            background: url("../assets/img/desktop/BuikaDesk@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 647px;
            height: 349px;
            margin-bottom: 30px;
        }
    }

    .texto-OtrosEventos{
        color: map-get($Colores, LetraNegra);
        width: map-get($medidasMainAcerca, widthletra-acerca );
        font-size: map-get($medidasMainAcerca, letraParafo );
        padding-bottom: map-get($medidasMainAcerca, margin-bottom-letra );
        text-align: center;
        @media only screen and (min-width:1200px){
            display: flex;
            align-items: center;
            padding-left: 200px;
        }

    }

    /*Contactanos*/

    .equipo, .contenido{
        display: none;
        @media only screen and (min-width:1200px){
            display: flex;
            font-size: 16px;
            color: map-get($Colores, LetraLogFontIcono );
        }
    }
    .equipo{
        @media only screen and (min-width:1200px){
            padding-bottom: 30px;
        }
    }

    .cajas{
        @media only screen and (min-width:1200px){
            display: flex;
            gap: 200px;
        }
    }

    .segundaCaja{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenido{
        @media only screen and (min-width:1200px){
            width: 281px;
        }
    }

    .form-texto{
        color:  map-get($Colores, LetraLogFontIcono);
        font-size: 12px;
        width: 315px;
        @media only screen and (min-width:1200px){
            width: 500px;
            padding-bottom: 30px;
            font-size: 16px;
        }
    }
    
    .formulario{
        width: map-get($medidasMain, widthFormulario);
        height: map-get($medidasMain, heightFormulario);
        background-color: map-get($Colores, baseEcuatoguineano);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;

        @media only screen and (min-width:1200px){
            width: 500px;
        }
        
        .nombre-apellidos, .telefono, .correo{
            width: map-get($medidasMain,widthinput);
            height: map-get($medidasMain, heightinput);
            border: solid gray;
            border-radius: map-get($medidasMain, borderRadius-boton);

            @media only screen and (min-width:1200px){
                width: 400px;
            }
        }

        .mensaje{
            width: map-get($medidasMain,widthinput);
            height: map-get($medidasMain, heigthmensaje);
            border: solid gray;
            border-radius: map-get($medidasMain, borderRadius-boton);
            @media only screen and (min-width:1200px){
                width: 400px;
            }
        }

        .nombre{
            margin-top: map-get($medidasMain, margininput);

        }

        .tel, .cor, .mens{
            margin-top: map-get($medidasMain, gapinput);
            
            
        }

        .boton{
            width: map-get($medidasMain, widthenviar);
            height: map-get($medidasMain,heightinput);
            margin-top: map-get($medidasMain, gapinput);
            background-color:map-get($Colores, Boton);
            border-radius: map-get($medidasMain, borderRadius-boton);
            color: map-get($Colores, LetraLogFontIcono);
            margin-bottom: 30px;
        }
    }

}

/*Eventos pasados*/
.Main3 {
    background-color: #D9D9D9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0;

    .cajaGeneral1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width:1200px){
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
    }

    .cajaGeneral2{
        @media only screen and (min-width:1200px){
            display: flex;
            gap: 40px;
            margin-bottom: 50px;
        }
    }

    .general1{
        @media only screen and (min-width:1200px){
            width: 634px;
            text-align: justify;
        }
    }

    .general2{
        @media only screen and (min-width:1200px){
            width: 634px;
            text-align: justify;
            padding-top: 20px;
            
        }
    }

    .textoBuika{
        display: none;
        @media only screen and (min-width:1200px){
            display: flex;
        }
    }

    .linea1{
        @media only screen and (min-width:1200px){
            width: 211px;
            height: map-get($medidas, heightLinea);
            background-color: map-get($Colores, LetraNegra);
            border: none;
            margin-bottom: 50px;
        }
    }
    .Main3-texto {
        font-size: map-get($medidasMain,  letras );


    }

    .Boton {
        padding-right: map-get($medidasMain,  paddng-boton );
    }

    .button {
        width: map-get($medidasMain, widthBoton-Otros-eventos);
        height: map-get($medidasMain, heightBoton-Otros-eventos);
        background-color: #43045D;
        border: none;
        border-radius: map-get($medidasMain, borderRadius-boton);
        color: #D9D9D9;
    }

    .Main3-imagen1 {
        background: url("../assets/img/smartphone/Buika5.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMain, widthEventos-pasados);
        height: map-get($medidasMain, heightEventos-pasados);
        @media only screen and (min-width:1200px){
            background: url("../assets/img/desktop/Buika2.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 225px;
            width: 247px;
        }
    }

    .Main3-imagen2 {
        background: url("../assets/img/smartphone/romy_so_love3.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: map-get($medidasMainAcerca, margin-top-imagen3);
        width: map-get($medidasMain, widthEventos-pasados);
        height: map-get($medidasMain, heightEventos-pasados);
        @media only screen and (min-width:1200px){
            background: url("../assets/img/desktop/romy_so_love.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 225px;
            width: 247px;
        }
    }

    .Main3-texto2{
        font-size: map-get($medidasMain,  letras );
        width: map-get($medidasMainAcerca, widthtexto);
    }

    a{
        text-decoration: none;
        color: map-get($Colores , LetraLogFontIcono );
    }

    .Main2-titulo{
        margin-bottom: 0;
    }

    /*Edicion*/
    .lineaEdicion{
        height: map-get($medidasMain, heightLinea);
        width: map-get($medidasMain, widthLinea);
        background-color: map-get($Colores, LetraNegra);
        margin-bottom: map-get($medidasMain, paddingLinea);
        border: none;
        @media only screen and (min-width:1200px){
            width: 351px;
            height: map-get($medidas, heightLinea);
            background-color: map-get($Colores, LetraNegra);
            border: none;
            margin-bottom: 50px;
        }
    }
    .contenedorGeneral{
        @media only screen and (min-width:1200px){
            display: flex;
            gap: 100px;
            margin-bottom: 90px;
        }
    }

    .linea{
        width: map-get($medidasMain, widthlinealarga);
        height: map-get($medidasMain, heightlinealarga);
        background-color: map-get($Colores, LetraNegra);
        margin-bottom: map-get($medidasMain, paddingLinea);
        border: none;
        @media only screen and (min-width:1200px){
            width: 550px;
        }
    }

    .texto{
        text-align: justify;
        width: map-get($medidasMain, widthLetra);
        @media only screen and (min-width:1200px){
            width: 550px;
        }
    }
    .Caja{
        text-align: justify;
    }

    .Main3-textos{
        @media only screen and (min-width:1200px){
            font-size: 20px;
        }
        
    }

    .Main3-imagenRomy{
        background: url("../assets/img/smartphone/romy_so_love3.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMain, widthEventos-pasados);
        height: map-get($medidasMain, heightEventos-pasados);
    }

    .Main3-Buika{
        background: url("../assets/img/smartphone/Buika5.webp.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: map-get($medidasMain, widthEventos-pasados);
        height: map-get($medidasMain, heightEventos-pasados);

        @media only screen and (min-width:1200px){
            background: url("../assets/img/desktop/Buika6@2x.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 451px;
            height: 480px;
            order: 2;
        }
    }


}